<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyShow/cinemas</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/static/cinemasstyle.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">BookMyShow</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: red !important;" class="nav-link" href="{% url 'cinemas' %}">Cinemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking_history' %}">Booking History</a>
                    </li>
                    <li class="nav-item">
                        <a style="border-radius: 20px;background-color: red;position: relative;left: 600px;" class="nav-link text-light" href="{% url 'profile' %}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<!-- main content -->
    <div class="container-fluid mt-3">
        <div class="row mb-3">
            <div class="col">
                <h2>Cinemas</h2>
            </div>
        </div>

        {%for cinema in cinemas %}

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/{{cinema.cinema_poster}}" class="img-fluid rounded-start cinema-image" alt="{{cinema.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{cinema.name}}</h5>
                        </div>
                        <p class="card-text">{{cinema.location}}</p>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-danger text-white" ><a style="text-decoration: none;color: white;" href="{% url 'cinemas_movie' cinema.id %}">Book Now</a></button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%endfor%}
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>