<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/ticketstyle.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">BookMyShow</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cinemas' %}">Cinemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking_history' %}">Booking History</a>
                    </li>
                    <li class="nav-item">
                        <a style="border-radius: 20px;background-color: red;position: relative;left: 600px;" class="nav-link text-light" href="{% url 'profile' %}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ticket" id="a1">        
        <div class="ticket-left">
            <img src="/{{booking.screening.movie.movie_poster}}" alt="{{booking.screening.movie.title}}" class="movie-poster">
        </div>
        <div class="ticket-right">
            <h2 class="movie-name">{{booking.screening.movie.title}}</h2>
            <p class="user-name"><strong>User:</strong> {{booking.user.username}}</p>
            <p><strong>Genre:</strong> {{booking.screening.movie.genre}}</p>
            <p><strong>Date:</strong> {{booking.screening.date}}</p>
            <p><strong>Time:</strong> {{booking.screening.time}}</p>
            <p><strong>Seats:</strong> {% for seat in booking.seats %}{{seat}}, {% endfor %}</p>
            <p><strong>Total Seats:</strong> {{booking.seats|length}}</p>
            <p class="price"><strong>Total Price:</strong> {{booking.total_price}}</p>
            <p><strong>Cinema:</strong> {{booking.screening.cinema.name}}</p>
            <p><strong>Location:</strong> {{booking.screening.cinema.location}}</p>
           
        </div>
    </div>
</body>
</html>
